# Environment and deploy file
# For use with bin/server_deploy, bin/server_package etc.
DEPLOY_HOSTS="hostname1.net
              hostname2.net"

APP_USER=spark
APP_GROUP=spark
# optional SSH Key to login to deploy server
#SSH_KEY=/path/to/keyfile.pem
INSTALL_DIR={{ spark_job_server_home }}
LOG_DIR=/var/log/job-server
PIDFILE=spark-jobserver.pid
SPARK_HOME={{ spark_home }}
SPARK_CONF_HOME={{ spark_home }}/conf
# Only needed for Mesos deploys
SPARK_EXECUTOR_URI={{ spark_location }}